# Virtual environment
venv/
env/
vevn/

# Python compiled files
__pycache__/
*.py[cod]

# Django logs
logs/
*.log

# Database files
*.sqlite3

 

# Static and media files
staticfiles/
media/


# IDE & OS-specific files
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
