Django==4.2.7
djangorestframework
djangorestframework-simplejwt
django-allauth
django-cors-headers
dj-rest-auth
drf-spectacular
psycopg2-binary
python-magic-bin==0.4.13
python-dotenv
channels
channels-redis
redis
celery
cryptography
django-redis
django-filter
django-otp
Pillow
requests
gunicorn
whitenoise
python-json-logger
django-notifications-hq
django-celery-results
django-celery-beat
sentry-sdk
uvicorn
pytest
pytest-django
coverage
aioredis
amqp
asgiref
astroid
async-timeout
attrs
autobahn
Automat
billiard
CacheControl
cachetools
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
constantly
cron-descriptor
daphne
defusedxml
dill
django-admin-interface
django-anymail
django-cacheops
django-cleanup
django-constance
django-crispy-forms
django-debug-toolbar
django-environ
django-extensions
django-guardian
django-health-check
django-maintenance-mode
django-model-utils
django-modeltranslation
django-mptt
google-generativeai
django-picklefield
django-polymorphic
django-pwa-webpush
django-ratelimit
django-redis-cache
django-reversion
django-sequences
django-simple-history
django-storages
django-stubs
django-stubs-ext
django-taggit
django-templated-email
django-timezone-field
django-tinymce
django-treebeard
django-types
drf-yasg
exceptiongroup
execnet
factory-boy
Faker
filelock
firebase-admin
flake8
fsspec
gevent
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
greenlet
grpcio
grpcio-status
hiredis
httplib2
huggingface-hub
hyperlink
idna
incremental
inflection
iniconfig
isort
joblib
jsonschema
jsonschema-specifications
kombu
mccabe
msgpack
numpy
oauthlib
packaging
phonenumbers
platformdirs
pluggy
pre-commit
prompt_toolkit
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
PyJWT
pyOpenSSL
pyparsing
pytest-asyncio
pytest-mock
pytest-xdist
python-crontab
python-dateutil
python-decouple
python-http-client
python-memcached
python3-openid
PyYAML
referencing
regex
requests-oauthlib
rpds-py
rsa
ruff
safetensors
scikit-learn
scipy
sendgrid
service-identity
setuptools
six
sqlparse
starkbank-ecdsa
tabulate
tensorflow
tensorflow-hub
threadpoolctl
tokenizers
tomli
tomlkit
tqdm
transformers
Twisted
txaio
types-psycopg2
types-PyYAML
typing_extensions
tzdata
uritemplate
urllib3
uuid
vine
wcwidth
zope.event
zope.interface
ki
opencv-python
deepface
easyocr
tenacity
pdfplumber
spacy